body{
    background-color: #EEEEEE;
}

h1 {
    text-align: center;
    color: #333333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 195, 255, 0.377);
}

.container-taskList {
    background-color: #D9D9D9;
}